*{
  padding: 0;margin: 0;
  box-sizing: border-box;
}

.parent-wrapper {
  background-image: url("https://www.lifewire.com/thmb/CLI14Ku63Uujk5VlROmhN67G-3I=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/wallhaven-5919d60a5f9b58f4c04e8b26.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  width: 400px;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 10px rgb(255, 255, 255);
  color: black;
}

  ::placeholder {
    color: rgb(3, 16, 73);
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: red;
  }